{
    "overrides": [
        {
            "files": ["*.tsx", "*.ts"],
            "options": {
                "parser": "babel-ts"
            }
        }
    ],
    "plugins": [
        "@trivago/prettier-plugin-sort-imports",
        "prettier-plugin-prisma",
        "prettier-plugin-tailwindcss"
    ],
    "printWidth": 80,
    "tabWidth": 4,
    "semi": false,
    "importOrder": ["<THIRD_PARTY_MODULES>", "^[./]"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "importOrderParserPlugins": [
        "decorators",
        "decoratorAutoAccessors",
        "typescript",
        "jsx"
    ],
    "tailwindFunctions": ["twMerge", "cva", "cx"]
}
